$width: 100%;
$activeColor: gray;
$hoverColor: #eeeeee;
$fontSize: 10px;

@function size($level: 0) {
  @return $fontSize * $level;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans,Arial,Verdana,Noto Sans TC,WenQuanYi Zen Hei,PingFang,Microsoft JhengHei,Microsoft YaHei,sans-serif";
}
.shadow {
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.1);
}
header{
  position: relative;
  height: 60px;
}
.hero-title {
  position: absolute;
}
.hero-main {
  float: right;
}
.hero-nav {
  width: $width;
  background-color: #aa000d;
  text-align: center;
  line-height: 67px;
  color: white;
  font-size: size(3);
}
.d-flex {
  display: flex;
}
.main {
  width: $width;
  margin: 0 auto;
}
.main > input,
.main .main-list > li {
  display: none;
}
.main-tab {
  background-color: #aa000d;
  display: flex;
  flex-flow: row;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  label {
    color: white;
    line-height: 72px;
    padding: 15px 25px;
  }
}
.main-tab > li {
  width: $width;
  float: left;
  border-bottom: 0;
}
#tab1:checked ~ .main-tab > .tab1,
#tab2:checked ~ .main-tab > .tab2,
#tab3:checked ~ .main-tab > .tab3,
#tab4:checked ~ .main-tab > .tab4,
#tab5:checked ~ .main-tab > .tab5,
#tab6:checked ~ .main-tab > .tab6 {
  border-bottom: 1px solid black;
}
.main-tab > li {
  &:hover {
    background: $hoverColor;
  }
  &:active {
    background: $activeColor;
  }
}
#tab1:checked ~ .main-list > .tab1,
#tab2:checked ~ .main-list > .tab2,
#tab3:checked ~ .main-list > .tab3,
#tab4:checked ~ .main-list > .tab4,
#tab5:checked ~ .main-list > .tab5,
#tab6:checked ~ .main-list > .tab6 {
  display: block;
}
.main-list {
  width: $width * 0.8;
  margin: 0 auto;
}
.main-list > li {
  border: 1px solid #eee;
  background: #fff;
  padding: 2em;
  margin-bottom: 7px;
  border-radius: 4px;
}

$width: 100%;
$buttomNumber: 6;
$baseLineHeight: 12px;
//被繼承的樣式
//mixin 產好幾份
%aButton {
  display: block;
  text-decoration: none;
}

$baseSize: 14px;
$sizeLevel: 2px;
$paddingLevel: 1.2;
$baseLineSize: 10px;

@function font($level: 0) {
  @if $level < 0 {
    $level: 0;
  }
  @return $baseSize + $sizeLevel * round($level);
}
@function rhythm($size) {
  @return ceil($size * $paddingLevel / $baseLineSize) * $baseLineSize;
}
@mixin abButton {
  display: block;
  text-decoration: none;
}
@function line($count: 1) {
  @return $baseLineHeight * $count;
}

.aa {
  @include abButton();
  padding: line(2);
}
.bb {
  @extend %aButton;
  padding: line();
}
.cc {
  @extend %aButton;
  padding: line(3);
}
html {
  font-size: font(5);
  line-height: rhythm(font(5));
  margin: 0;
  padding: 0;
}
.container {
  > header {
    > ul {
      list-style: none;
      //   font-size: 16px;
    }
    li {
      display: inline-block;
      width: $width/ $buttomNumber;
      //   font-size:16px;
      > a {
        @extend %aButton;
        width: 100%;
        height: 20px;
        line-height: 20px;
      }
    }
  }
  > div {
    color: red;
  }
}
